
html, body {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Open Sans';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.row {
    width: 100%;
    margin: 0 auto !important;
}

.navbar {
    background-color: black;
    height: 100px;
    width: 100%;
    margin: 0 auto -15px;
}
.logo {
    height: 80px;
    /* margin: -50px auto; */
    text-align: center;
    /* display: inline-block;
    vertical-align: middle; */
    cursor: pointer;
}
.menu-btn {
    margin: 0 12px 0 0;
}
.bookfree {
    border:none;
    outline:none;
    width: 297px;
    height: 54px;
    background-color: rgb( 92 180 249);
    box-shadow: 0 9px 25px 0 rgba(20, 127, 169, 0.4);
    font-weight: bold;
    margin-right:60px;
}
.bookfreebottom {
    border:none;
    outline:none;
    width: 297px;
    height: 54px;
    background-color: rgb( 92 180 249);
    box-shadow: 0 9px 25px 0 rgba(20, 127, 169, 0.4);
    font-weight: bold;
    margin: 96px auto 96px;
    text-align: center;
    display: block;
    padding: 0;
}
.header-row {
    background: url("../assets/gym-hero.png") no-repeat center;
    background-size: cover;
    height:833px;
    width:100%;
    
}

.header-title {
    text-align: center;
    font-size: 60px;
    color: rgb(92, 180, 249);
    font-family: 'Open Sans';
    letter-spacing: 0.6px;
    font-weight: 700;
    padding: 300px 0 0 0;
}
.welcome {
    width: 100%;
    height: 500px;
    background-color: rgb(0, 0, 0, 0.1);
    margin: -140px auto 0;
    padding: 100px 0 0 0;
}
.welcome-icon{
    float:right;
    margin: -205px 30px 0 0;
}
.welcome-title {
    text-align: center;
    margin: 80px auto;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: bold;
}
.welcome-text{
    text-align: center;
    margin: -50px auto;
    width: 950px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: normal;
}
.book-btn {
    border: none;
    outline: none;
    width: 329px;
    height: 54px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    display: block;
    margin: 100px auto;
    padding: 0;
    background-color: rgb(92, 180, 249);
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.11); */
    box-shadow: 0 9px 25px 0 rgba(20, 127, 169, 0.4);
}
.headshot-wrapper {
    max-width:1440px;
    height: 609px;
    position: absolute;
    z-index: 4;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.headshot-thumb {
    width: 630px;
    left: 190px;
    bottom: 0;
    position: absolute;
}
.headshot-black {
    width: 630px;
    height: 274px;
    background-color: rgba(0, 0, 0, 0.81);
    position: absolute;
    z-index: 1;
    bottom: 110px;
    right: 180px;
}
#carouselControls .carousel-inner {
    height:609px;
    margin: -430px 0 0 0;
}
.caption-wrapper {
    padding: 50px 0 0 0;
    z-index: 7;
    text-align: left;
    position: absolute;
}
.caption-quote {
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0 48px;
    color: #fff;
    width: 546px;
    height: 92px;
}
/* .black-arrow {
    float: right;
    margin-right: -100px;
    height:38px;
    width: 19px;

} */
.read-more-btn {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: #272727;
    text-align: center;
    box-shadow: 0 9px 25px 0 rgba(20, 127, 169, 0.4);
    background-color: rgb(92, 180, 249);
    width: 165px;
    height: 40px;
    margin: 190px 48px !important;
    border: none;
    outline: none;
    position: absolute;
  
}
.whoweare-icon {
    margin: 80px 0 0 40px;
    /* position: absolute; */
    /* z-index: 1; */
}

/* ======= how it works section ======= */
.howitworks-wrapper {
    width: 100%;
    text-align: center;
    /* position: absolute;
    z-index: 7; */
    /* margin: 600px 0 0 0; */
}
.howitworks-title {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 65px;
    color: rgb(155 175 191);
    letter-spacing: 12.75px;
    margin-top: 100px;
}
.howitworks-text {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 18px;
    color: #272727;
    margin: 50px 190px;
    
}
.box-left {
    height: 534px;
}

.box-right {
    height: 534px;
    position: relative;
}

.box-right img {
    height: 100%;
    width: 534px;
    top: 0;
    right: 71px;
    position: absolute;
    z-index: 2;
}

.box1, .box2, .box3, .box4, .box5 {
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-wrapper {
    max-width: 600px;
    text-align: left;
    position: relative;
}

.box-title {
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: bold;
    line-height: 0.94;
    letter-spacing: 1.2px;
    color: #000;
    margin: 0 0 42px;
}

.box-text {
    font-family: 'Open Sans';
    font-size: 18px;
    letter-spacing: 0.45px;
    color: #000;
    margin: 0;
}
 .box-link {
    margin: 70px 0 0 0;
    color: rgb(92, 180, 249);
    font-size: 16px;
 }
 .how-link {
    color: rgb(92, 180, 249);
    font-size: 16px;
 }
 .how-link:hover {
    color: rgb(92, 180, 249);
 }
 .box-left2 {
    background: url("../assets/nutrition.png") no-repeat center;
    height:534px;
}

.box-right2 {
    height: 534px;
}
.box-left3 {
    height:534px;
}

.box-right3 {
    background: url("../assets/availability.png") no-repeat center;
    height: 534px;
}
/* ======= clients -==== */
.clients-icon {
    float: left;
    margin: -83px 0 0 60px;
    position: absolute;
    z-index: 1;
}
.client-row {
    background: url("../assets/transparent-layer.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height:427px;
    margin: 50px 0 auto 0;
}
.quote{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #000;
    margin:160px 260px;
    text-align: center;
    
}
.quote-name {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin: -140px auto;
    text-align: center;
}
#quote-carousel .carousel-inner {
    height: 427px;
}

#quote-carousel .carousel-item{
    width: 100%;
    text-align: center;
}

.carousel-indicators {
    top: 325px;
}
.carousel-indicators button{
    width: 92px !important;
    height: 6px !important;
    margin:0 30px 0 0 !important;
    border: none;
    outline: none;
    background-color: rgb(155, 175, 191) !important;
}

.carousel-indicators .active {
    width: 92px !important;
    height: 6px !important;
    margin:0 30px 0 0 !important;
    border: none;
    outline: none;
    background-color: rgb(92, 180, 249) !important;
} 


/* ABOUT PAGE */
/* ======= about us section ======= */
.about {
    width: 100%;
    height: 500px;
    margin: -140px auto 0;
    padding: 100px 0 0 0;
}
.about-icon{
    float:right;
    margin: -205px 30px 0 0;
}
.about-text{
    text-align: justify;
    margin: 150px auto;
    width: 950px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: normal;
}

/* ======= get started section ======= */
.divider {
    width: 3px;
    height: 100px;
    margin: 50px 720px;
    background-color: rgb(155 175 191);
    display: inline-block;
    vertical-align: middle;
}
.getstarted-wrapper {
    width: 100%;
    text-align: center;
    /* position: absolute;
    z-index: 7; */
    margin: 300px 0 0 0;
}
.getstarted-title {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 65px;
    color: rgb(155 175 191);
    letter-spacing: 12.75px;
    margin-top: 100px;
}
.details-row {
    max-width: 1100px;
    margin: 154px auto 0;
}
.detail-panel {
    width: 426px;
    height: 437px;
    margin: 0 59px 94px;
    background-color:rgb(155, 175, 191, 0.15);
    display: inline-block;
    vertical-align: middle;
}
.detail-icon {
    width: 120px;
    height: 120px;
    margin: 33px 153px;
}
.detail-title {
    text-align: center;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
}
.detail-divider {
    width: 100px;
    height: 3px;
    margin: 19px 163px;
    background-color: rgb(92,180, 249);
    display: inline-block;
    vertical-align: middle;
}
.detail-description {
    color: black;
    text-align: center;
    font-family: 'Roboto';
    width: 355px;
    height: 122px;
    font-size: 14px;
    margin: 21px auto;
}


/* EDWARD PAGE */
/* ======= trainer section ======= */
.trainer-title {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 65px;
    color: rgb(155 175 191);
    letter-spacing: 12.75px;
    margin-top: 100px;
    text-align: center;
}
.trainer-wrapper{
    height: 1140px;
    /* position: absolute; */
    /* z-index: 4; */
    margin: 0 auto 100px;
    bottom: 0;
    /* left: 0; */
    /* right: 0; */
    max-width: 1440px;
    
}

a {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.edward-title {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 6.8px;
    color: rgb(155 175 191);
}
.edward-text {
    font-family: 'Roboto';
    font-size: 18px;
    margin: 0 60px 0 0;
}
.right {
    max-width: 620px;
    text-align: justify;
    margin: 85px 0 0 760px;
    position: absolute;
}
.ed-pic-one {
    width: 520px;
    height: 665px;
    margin: 85px 0 0 190px;
    /* margin: 85px auto 0; */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
}
.ed-pic-two {
    /* position: absolute; */
    width: 694px;
    height: 474px;
    margin: -190px 280px 0 0;
    position: absolute;
    right: 0;
    /* left: 0; */
}
.cb-pic-one {
    width: 520px;
    height: 600px;
    margin: 85px 0 0 190px;
    /* margin: 85px auto 0; */
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
}
.cb-pic-two {
    /* position: absolute; */
    width: 694px;
    height: 435px;
    margin: -90px 200px 0 0;
    position: absolute;
    right: 0;
    /* left: 0; */
}
.video-row {
    background: url("../assets/video-img.jpg") no-repeat center;
    background-size: cover;
    height: 650px;
    width: 1320px;
    margin: 116px auto 0;
}
.video-row2 {
    background: url("../assets/video-cb.jpg") no-repeat center;
    background-size: cover;
    height: 650px;
    width: 1320px;
    margin: 116px auto 0;
}
.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.vid-btn {
    cursor: pointer;
}
#video-modal {
    padding-right: 0;
    align-items: center;
    background: #fffd;
}

#video-modal .modal-dialog {
    max-width: 1080px;
    width: 100%;
}

#video-modal .modal-content {
    background: transparent;
    border-radius: 0;
}

#workout-video {
    width: 100%;
    margin-bottom: -6px;
}
.next-btn {
    margin:79px 60px 79px auto;
    text-align: right;
    cursor: pointer;
}
.trainer-colton {
    font-family: 'Roboto';
    font-size: 32px;
    margin-left:30px;
    color:#000;
    
}
.right-arrow {
    font-family: Rob
}


/* NAVIGATION BOTTOM */
.bottom-hero {
    background: url("../assets/bottom-hero.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 368px;
    margin: 100px 0 0 0;
}
.bottom-logo,  .bottom-logo-trainer2  {
    margin: 250px 0 0 80px;
    float: left;
}
.bottom-logo-trainer{
    margin: 185px 0 0 80px;
    float: left;
}

.bottom-list {
    color: #fff;
    font-family: 'Roboto';
    font-size: 18px;
    list-style: none;
    display: inline-block;
    margin-right:45px;
}

.bottom-nav {
   padding-top: 150px;
   text-align: right;
   margin-left: 60px;
   
}



